@import ../components/colors
@import ../components/typography
@import ../components/breakpoints

#hero
    height: 100vh
    position: relative
    box-sizing: border-box

    .circles
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        overflow: hidden
        margin: 0
        padding: 0

    .circles
        li
            position: absolute
            display: block
            list-style: none
            width: 20px
            height: 20px
            background: rgba(220, 223, 245, 0.6)
            animation: animate 25s linear infinite
            bottom: -150px

    .circles
        li:nth-child(1)
            left: 25%
            width: 80px
            height: 80px
            animation-delay: 2s

    .circles
        li:nth-child(2)
            left: 10%
            width: 20px
            height: 20px
            animation-delay: 4s
            animation-duration: 12s

    .circles
        li:nth-child(3)
            left: 70%
            width: 20px
            height: 20px
            animation-delay: 6s

    .circles
        li:nth-child(4)
            left: 40%
            width: 60px
            height: 60px
            animation-delay: 2s
            animation-duration: 18s

    .circles
        li:nth-child(5)
            left: 65%
            width: 20px
            height: 20px
            animation-delay: 2s

    .circles
        li:nth-child(6)
            left: 75%
            width: 110px
            height: 110px
            animation-delay: 5s

    .circles
        li:nth-child(7)
            left: 35%
            width: 150px
            height: 150px
            animation-delay: 9s

    .circles
        li:nth-child(8)
            left: 50%
            width: 25px
            height: 25px
            animation-delay: 17s
            animation-duration: 45s

    .circles
        li:nth-child(9)
            left: 20%
            width: 15px
            height: 15px
            animation-delay: 4s
            animation-duration: 35s

    .circles
        li:nth-child(10)
            left: 85%
            width: 150px
            height: 150px
            animation-delay: 2s
            animation-duration: 15s

    @keyframes animate
        0%
            transform: translateY(0) rotate(0deg)
            opacity: 1
            border-radius: 0

        100%
            transform: translateY(-1000px) rotate(720deg)
            opacity: 0
            border-radius: 50%

    .hero-group
        height: 100vh
        .hero-title
            margin-top: -95px
            align-items: center
            order: 1
            .name
                padding: 10px 0 10px 0
                max-width: 550px
                width: 100%
                transform: rotate(-3deg)
            .name-type
                h1
                    font-size: 100px
                    margin: 0
                    color: #51E3D4
            .hello
                font-size: 18px
                margin: 5px 0
            .desc
                h3
                    font-weight: 600
                    opacity: 0.9
                p
                    opacity: 0.7
                    font-size: 14.5px
                    line-height: 1.6
                    font-weight: 300
                    max-width: 600px
        .hero-image
            margin-top: -50px
            max-width: 320px
            width: 100%
            text-align: center
            order: 2
            img
                max-width: 320px
                width: 100%
                margin-left: auto
                margin-right: auto
                // filter: grayscale(100%)
                transition: 0.5s
                border-radius: 10%
                // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
                border: 0.5px solid #eeeeee
            img:hover
                // filter: grayscale(0%)
                transition: 0.5s
                transform: scale(1.02)
            .btn-hire
                margin: 30px 0
                .btn-primary:hover
                    transition: 0.5s
                    transform: scale(1.02)
                .btn-primary
                    transition: 0.5s
    .hero-footer
        position: absolute
        bottom: 0
        background-color: $primary-color
        width: 100%
        .footer-group
            display: flex
            justify-content: space-between
            flex-direction: row
            .menu
                ul
                    list-style: none
                    padding: 0
                    .active
                        font-weight: bold
                    li
                        display: inline-block
                        text-transform: uppercase
                        a
                            text-decoration: none
                            color: #ffffff
                            padding: 20px 20px 20px 0
            .social
                display: flex
                justify-content: space-between
                flex-direction: row
                p
                    color: #ffffff
                    display: block
                ul
                    list-style: none
                    padding-left: 20px
                    li
                        display: inline-block
                        margin: 0 5px
                .sub-social
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: row
                .dark-mode-toggle
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    margin-left: 20px
                    select
                        -webkit-appearance: none
                        appearance: none
                        background-color: transparent
                        color: white
                        outline: none
                        border-radius: 30px
                        padding: 3px 10px 3px 10px
                        transition: 0.3s
                        border: 1px solid rgba(222, 222, 222, 0.2)
                        option
                            padding: 10px 20px
                    select:hover
                        background-color: rgba(255, 255, 255, 0.1)
                        transition: 0.3s

#portfolio
    padding: 50px 0
    .title
        h2
            font-size: 22px
            margin: 0 0 -32px 0
        small
            font-size: 14px
            margin: 0
    .portfolio-group
        display: flex
        flex-direction: row
        justify-content: space-between
        .portfolio-card
            margin: 15px 0
            h3
                font-weight: bold
            img
                max-width: 500px
                width: 100%
                border: 1px solid #dedede
                height: 300px
                object-fit: cover
                object-position: top
                border-radius: 8px
                border: 2px solid white
                transition: 0.5s
            img:hover
                transform: scale(1.02)
                transition: 0.5s
            p
                font-size: 14px
                a
                    text-decoration: none
                    color: $primary-color
                    font-weight: 600
                a:hover
                    color: $accent-color
    .portfolio-grid
        .portfolio-card
            padding-top: 15px
            img
                max-width: 500px
                width: 100%
                border: 1px solid #dedede
                height: 300px
                object-fit: cover
                object-position: top
                border-radius: 8px
                border: 2px solid white
                transition: 0.5s
            img:hover
                transform: scale(1.02)
                transition: 0.5s
            p
                font-size: 14px
                a
                    text-decoration: none
                    color: $primary-color
                    font-weight: 600
                a:hover
                    color: $accent-color

footer
    p
        margin: 0
        padding: 20px 0
        text-align: center
        font-size: 14px
        span
            color: red

@include respond(phone)
    #hero
        height: auto !important
        .circles
            li:nth-child(7)
                display: none
            li:nth-child(10)
                display: none
        .hero-group
            height: auto !important
            .hero-title
                order: 2 !important
                margin-top: 0
                transform: scale(0.9)
                text-align: center
                .name
                    img
                        transform: scale(0.9)
            .hero-image
                margin-top: 30px
                order: 1 !important
                img
                    max-width: 280px
                .btn-hire
                    margin-bottom: 0
        .hero-footer
            position: relative
            .container
                margin-left: 0
                margin-right: 0
                width: auto !important
                max-width: 100% !important
            .footer-group
                flex-direction: column
                .menu
                    padding: 0 15px
                    text-align: center
                    ul
                        margin: 10px 0
                        li
                            a
                                padding: 10px
                .social
                    padding: 7px 0
                    background-color: #5b64a0
                    width: 100%
                    p
                        margin: 0
                        margin-left: 10px
                        font-size: 11px
                        transform: scale(0.9)
                    ul
                        margin: 0
                        padding: 0
                        margin-right: 0
                        margin-bottom: 2px
                        transform: scale(0.9)
                    .dark-mode-toggle
                        display: block
                        margin-left: 0
                        margin-right: 15px
                        transform: scale(0.9)

    #portfolio
        padding-bottom: 0
        .title
            text-align: center
            margin-bottom: 10px
            h2
                margin: 0 0 -10px 0
        .portfolio-group
            flex-direction: column
            .portfolio-card
                transform: scale(0.9)
                margin: 0
                img
                    height: 220px
        .portfolio-grid
            .portfolio-card
                img
                    max-width: 90%
                    height: 200px
                    margin: 0 15px
                h3
                    margin: 10px 15px
                p
                    margin: 10px 15px
    footer
        p
            transform: scale(0.9)

@include respond(tablet)
    #hero
        .circles
            top: -56px
        .hero-group
            .hero-title
                padding: 0 15px
            .hero-image
                padding: 0 15px
        .hero-footer
            margin-bottom: 56px
            .footer-group
                .menu
                    padding: 0 15px
                .social
                    padding: 0 15px
    #portfolio
        .title
            padding: 0 15px
            h2
                margin: 0 0 -18px 0
        .portfolio-group
            .portfolio-card
                padding: 0 15px
        .portfolio-grid
            .portfolio-card
                img
                    max-width: 90%
                    height: 230px
                    margin: 0 15px
                h3
                    margin: 10px 15px
                p
                    margin: 10px 15px

@media (prefers-color-scheme: dark)
    #hero
        .circles
            li
                background: rgba(71, 79, 133, 0.3)
.dark-mode body
    #hero
        .circles
            li
                background: rgba(71, 79, 133, 0.3)
        .hero-group
            .hero-title
                .hide-light
                    display: block

.light-mode body
    #hero
        .circles
            li
                background: rgba(220, 223, 245, 0.6)
        .hero-group
            .hero-title
                .hide-dark
                    display: block
    #portfolio
        .portfolio-grid
            .portfolio-card
                a
                    color: $primary-color
                a:hover
                    color: $accent-color
